/* high level defaults */
:root {
  --size-scale: 0.6;
}

html{
  height:100%;
	width:100%;
	margin:0;
	padding:0;
	border:0;
}

body {
  height:100%;
	width:100%;
	margin:0;
	padding:0;
	border:0;
  font-family: Arial, Helvetica;
}

table{
  height:100%;
	width:100%;
	margin:0;
	padding:0;
	border:0;
	text-align:center;
	vertical-align:middle;
}

#demographicsForm{
  margin-bottom: 10px;
  font-size: 25px;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.selectTitle{
  margin-bottom: 5px;
}

.demoSelect{
  width: 250px;
}

canvas {
  display: none;
}

.canvasas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.imageTable {
  display:table;
  margin: 0 auto;
  max-width: 900px;
  width: 100% !important;
}

.imageDiv {
  display: table-cell;
  padding: 13px;
  float: left;
}

/* instruction screen styles */
#instructionsDiv {
  display: none;
  color: black;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.instruction-body {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.instruction-header p {
  padding-bottom: 15px;
  border-bottom: 3px solid black;
}

.instruction-header {
  text-align: left;
}

/* buttons  */
#nextInstrButton{
  font-size: 22px;
}

#nextSectionButton{
  color: blue;
  font-size: 22px;
  font-weight: bold;
}

#startExpButton {
  display:none;
  color: black;
  border: 3px outset grey;
  background-color: #CCCCCC;
  padding: 8px;
  text-decoration: none;
  font-family: Arial, Helvetica;
  font-weight: bold;
}

#startExpButton:hover {
  color: white;
}

#startExpButton:active {
  border: 3px inset grey;
}

/* menu closed styles */
.MenuClosedPrompt{
  display: none;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

/* orientation practice task */
#orientationPracticeDiv{
  display: none;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.OP_task_text{
  text-align: center;
  font: bold 30px Arial;
}

#OP_images {
  padding:0;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.OP_image_container {
  display: inline-block;
  margin: 30px;
}

.OP_image {
  position: relative;
}

.OP_image:focus {
  outline:none;
}

#OP_task_feedback {
  color: red;
  visibility:hidden;
}

/* orientation practice task */
#oddOneOutTaskDiv{
  display: none;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.OO_task_text{
  text-align: center;
  font: bold 30px Arial;
}

#OO_images {
  padding:0;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.OO_image_container {
  display: inline-block;
  margin: 30px;
}

.OO_image {
  position: relative;
  width: 300px;
}

.OO_image:focus {
  outline:none;
}

/* sound check */
#soundCheck {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}

#questionChoicesHolder {
  text-align: center;
}

#questionChoices {
  display: inline-block;
  text-align: left;
}

#navButtons{
  padding-top: 50px;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  display: none;
}

/* drag and drop task css */

#networkDragTask{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#network-container-lg{
  width:calc(1200px * var(--size-scale));
  height:calc(700px * var(--size-scale));
  border-style: solid;
  display: flex;
  position: relative;
}

#network-container-sm{
  width:calc(1000px * var(--size-scale));
  height:calc(450px * var(--size-scale));
  border-style: solid;
  display: flex;
  position: relative;
}

#picture-container{
  width:calc(1200px * var(--size-scale));
  border-color: black;
  border-style: solid;
  margin-bottom: 20px;
}

.w600 {
  width: calc(600px * var(--size-scale));
}

.w400 {
  width: calc(400px * var(--size-scale) + 50);
}

.community-container{
  display: flex;
}

#left-community{
  margin-right:auto;
  display: flex;
}

#right-community{
  margin-left: auto;
  display: flex;
}

.net-slot{
  display: flex;
  align-items: center;
}

.buff-right-lg{
  margin-left: calc(90px * var(--size-scale));
  margin-right: calc(30px * var(--size-scale));
}

.buff-left-lg{
  margin-left: calc(30px * var(--size-scale));
  margin-right: calc(90px * var(--size-scale));
}

.buff-right-sm{
  margin-left: calc(60px * var(--size-scale));
  margin-right: calc(20px * var(--size-scale));
}

.buff-left-sm{
  margin-left: calc(20px * var(--size-scale));
  margin-right: calc(60px * var(--size-scale));
}

.slot{
  border-style: solid;
  background-color: white;
}

.lgW{
  width:calc(150px * var(--size-scale));
}

.smW{
  width:calc(100px * var(--size-scale));
}

.lgH{
  height:calc(150px * var(--size-scale));
}

.smH{
  height:calc(100px * var(--size-scale));
}

#slot0{
  margin-top: calc(250px * var(--size-scale));
}

#slot1{
  margin-top: calc(85px * var(--size-scale));
}

#slot2{
  margin-bottom: calc(85px * var(--size-scale));
}

#slot3{
  margin-bottom: calc(250px * var(--size-scale));
}

#slot8{
  margin-top: calc(85px * var(--size-scale));
}

#slot9{
  margin-top: calc(250px * var(--size-scale));
}

#slot5{
  margin-bottom: calc(250px * var(--size-scale));
}

#slot7{
  margin-bottom: calc(85px * var(--size-scale));
}

.dragTaskButton{
  display: none;
  color: black;
  border: 3px outset grey;
  font-size: 25px;
  background-color: #CCCCCC;
  padding: 8px;
  text-decoration: none;
  font-family: Arial, Helvetica;
  font-weight: bold;
  margin: 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0%);

}

.dragTaskButton:hover {
  color: white;
}

.dragTaskButton:active {
  border: 3px inset grey;
}

#network-diagram{
  width: calc(850px * var(--size-scale));
  height: calc(450px * var(--size-scale));
  /* border-style: solid; */
  display: flex;
  position: relative;
}

#plot0{
  margin-top: calc(167px * var(--size-scale));
}

#plot1{
  margin-top: calc(57px * var(--size-scale));
}

#plot2{
  margin-bottom: calc(57px * var(--size-scale));
}

#plot3{
  margin-bottom: calc(167px * var(--size-scale));
}

#plot4{
  margin-right: 10px;
}

#plot6{
  margin-left: 10px;
}

#plot8{
  margin-top: calc(57px * var(--size-scale));
}

#plot9{
  margin-top: calc(167px * var(--size-scale));
}

#plot5{
  margin-bottom: calc(167px * var(--size-scale));
}

#plot7{
  margin-bottom: calc(57px * var(--size-scale));
}

#network-diagram{
  margin: 0 auto;
}

.illegalText{
  text-align: center;
  width: calc(800px * var(--size-scale));
  position: absolute;
  top: "-100px";
}

#upperText{
  font-size: 40px;
}

#lowerText{
  font-size: 25px;
}
